<a href="https://colab.research.google.com/github/malinaafemi/skripsi-malina/blob/main/getFeature-toy-data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
pip install jsonpickle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting jsonpickle
  Downloading jsonpickle-2.2.0-py2.py3-none-any.whl (39 kB)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonpickle) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->jsonpickle) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->jsonpickle) (4.1.1)
Installing collected packages: jsonpickle
Successfully installed jsonpickle-2.2.0

In [3]:
pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.7)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (7.1.2)

In [4]:
import sys
import jsonpickle
import os
import tweepy
import nltk
import pandas as pd
import json
from pandas import json_normalize
from datetime import datetime, timezone
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import time
import pickle
import collections
import math
import urllib
import nltk
from nltk.corpus import stopwords
from difflib import SequenceMatcher
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [21]:
#load data
with open('/content/gdrive/MyDrive/dataFinal/toy_bot_dict.pkl', 'rb') as f:
    toy_bot_dict = pickle.load(f)

In [25]:
toy_bot_df = pd.read_csv('/content/gdrive/MyDrive/dataFinal/toy_bot_df.csv')
toy_bot_df

,id_str,screen_name,name,created_at,friends_count,followers_count,favourites_count,statuses_count,description,full_text,text_favourites_count,text_retweets_count,text_created_at,id
0,1305152759625166848,edukasiborneo,Edukasi Borneo,2020-09-13 14:34:36,13,70,62,9966,Official Instagram of Media Edukasi Borneo |\n...,Dua Puluh Pertanyaan yang akan Dosen Tanyakan ...,0,0,2022-07-07 6:55:59,1305152759625166848
1,1369694586294075393,tokowa_official,Toko WA,2021-03-10 17:00:30,957,391,8,917,Bisa COD | Sandal Camou 100% Original | Kualit...,"Bisa order via Bukalapak, bisa juga order via ...",0,0,2022-07-08 0:59:05,1369694586294075393
2,1531613498920550403,NETFLIX21ID,NETFLIX21,2022-05-31 12:28:21,20,10,0,52,Tempat Nonton NETFLIX GRATISS !!\nhttps://t.co...,Nonton Netflix Sub Indo GRATIS !\nhttps://t.co...,1,1,2022-06-20 12:37:31,1531613498920550403
3,390588121,mtyoar_,mita,2011-10-14 6:33:58,225,77,575,1049,halo,one person unfollowed me // automatically chec...,0,0,2021-10-04 17:53:20,390588121
4,1456880622291456001,OotdProduk,fly,2021-11-06 7:06:33,285,18,27,996,üåµRekomendasi üåµ\n\nproduk shopee\n‚û°Ô∏èinspirasi o...,@ybsmee https://t.co/InuPHSNEBm,0,0,2022-07-03 8:20:07,1456880622291456001

In [24]:
toy_lu_df = pd.read_csv('/content/gdrive/MyDrive/dataFinal/toy_lu_df.csv')
toy_lu_df

,id_str,screen_name,name,created_at,friends_count,followers_count,favourites_count,statuses_count,description,full_text,text_favourites_count,text_retweets_count,text_created_at,id
0,1406696255917412353,Toni17250685,Toni,2021-06-20 19:32:42,4426.0,7313.0,51447.0,28069.0,#IndonesiaHarusBersamaOrangBaik \n\n#GaFollowP...,#RKUHP_AntiDemokrasi\n#RKUHP_AntiDemokrasi \n\...,4.0,1.0,2022-07-07 23:18:14,1406696255917412353
1,320080520,DewirahmiS,Dewi Rahmi,2011-06-19 8:06:30,1173.0,885.0,32332.0,37827.0,Be Yourself Be Positive Be Happy,RT @L3laki_5uny1: Mana Berani @ListyoSigitP @D...,0.0,32.0,2022-07-07 16:51:02,320080520
2,1482731913924472835,MedhyC59,medhy c59,2022-01-16 15:10:41,81.0,10.0,6.0,86.0,NaN,Ikutan trend juga ahhh https://t.co/NwJmxAGZXA,0.0,0.0,2022-07-02 3:22:30,1482731913924472835
3,1098117872549650432,araychester,arayrocket,2019-02-20 7:11:17,1772.0,1334.0,22225.0,19234.0,#GakFollowPorno \n#NoCebong \n#AntiPenghinaUla...,RT @maspiyuaja: #TangkapAbuJanda !!! https://t...,0.0,833.0,2022-07-07 12:28:10,1098117872549650432
4,1308444925306916864,petugaspartei,YNTKTS,2020-09-22 16:36:06,236.0,427.0,5491.0,7521.0,NaN,MANA ADA SUNAN TAPI KAGAK DISUNAT\n\nMANA ADA ...,0.0,0.0,2022-07-08 2:15:18,1308444925306916864

In [22]:
#load data
with open('/content/gdrive/MyDrive/dataFinal/toy_lu_dict.pkl', 'rb') as f:
    toy_lu_dict = pickle.load(f)

![](https://drive.google.com/uc?export=view&id=13A4wC6lvHoSDMS9P6z2XE5mZW3nnF4f_)

![](https://drive.google.com/uc?export=view&id=1u71_U4mqXuk_XlQBRb6mW0hvLkLNylCh)

In [28]:
# UserID
def user_id(df):
    try:
        return str(df['id_str'])
    except:
        return None

# ScreenNameLen
def sname_len(df):
    try:
        return len(df['screen_name'])
    except:
        return None

# DigitsCountInName
def sname_digits(df):
    try:
        return sum(c.isdigit() for c in df['screen_name'])
    except:
        return None

# UserNameLen
def name_len(df):
    try: 
        return len(df['name'])
    except:
        return None

# AccountAge
def acc_age(df):
    try:
        d0 = datetime.strptime(df['created_at'],"%Y-%m-%d %H:%M:%S")
        d1 = datetime.strptime('2022-07-07 15:14:56',"%Y-%m-%d %H:%M:%S")

        return (d1-d0).days
    except:
        return None

# FriendsCount
def user_friends(df):
    try:
        return df['friends_count']
    except: 
        return None

# FollowersCount
def user_followers(df):
    try:
        return df['followers_count']
    except: 
        return None

# FavoritesCount
def user_fav(df):
    try:
        return df['favourites_count']
    except:
        return None

# StatusesCount
def user_statuses(df):
    try:
        return df['statuses_count']
    except: 
        return None

# TweetLen
def tweet_len(df):
    try:
        return len(df['full_text'])
    except:
        return None

# RawTweets
def raw_tweet(df):
    try:
        return df['full_text']
    except:
        return None

# Friendship
def friendship(df):
    try:
        return df['friends_count']/df['followers_count']
    except:
        return None

# Followership
def followership(df):
    try:
        return df['followers_count']/df['friends_count']
    except:
        return None

# Interestingness
def interest(df):
    try:
        return df['favourites_count']/df['statuses_count']
    except:
        return None

# Activeness
def activeness(df):
    try:
        d0 = datetime.strptime(df['created_at'],"%Y-%m-%d %H:%M:%S")
        d1 = datetime.strptime('2022-07-07 15:14:56',"%Y-%m-%d %H:%M:%S")
        return df['statuses_count']/(d1-d0).days
    except:
        return None

# NamesRatio
def name_ratio(df):
    try:
        return len(df['screen_name'])/len(df['name'])
    except:
        return None

# LexRichWithUU
def lex_richness(df):
    try:
        tokens = nltk.word_tokenize(df['full_text'])
        ut = set(nltk.word_tokenize(df['full_text']))
        return (len(ut)/float(len(tokens)))*100
    except:
        return None

# TweetRandomness
def tweet_randomness(df):
    try:
      text_len = len(df['full_text'])
      bases = collections.Counter([i for i in df['full_text']])

      shannon_entropy_value = 0
      for base in bases:
        n_i = bases[base]
        p_i = n_i / float(text_len)
        entropy_i = p_i * (math.log(p_i, 2))
        shannon_entropy_value += entropy_i

      return (shannon_entropy_value * -1)/text_len
    except:
        return None

# DescRandomness
def desc_randomness(df):
    try:
      text_len = len(df['description'])
      bases = collections.Counter([i for i in df['description']])

      shannon_entropy_value = 0
      for base in bases:
        n_i = bases[base]
        p_i = n_i / float(text_len)
        entropy_i = p_i * (math.log(p_i, 2))
        shannon_entropy_value += entropy_i

      return (shannon_entropy_value * -1)/text_len
    except:
        return None

# UserNameRandomness
def name_randomness(df):
    try:
      text_len = len(df['name'])
      bases = collections.Counter([i for i in df['name']])

      shannon_entropy_value = 0
      for base in bases:
        n_i = bases[base]
        p_i = n_i / float(text_len)
        entropy_i = p_i * (math.log(p_i, 2))
        shannon_entropy_value += entropy_i

      return (shannon_entropy_value * -1)/text_len
    except:
        return None

# ScreenNameRandomness
def sname_randomness(df):
      try:
        text_len = len(df['screen_name'])
        bases = collections.Counter([i for i in df['screen_name']])

        shannon_entropy_value = 0
        for base in bases:
          n_i = bases[base]
          p_i = n_i / float(text_len)
          entropy_i = p_i * (math.log(p_i, 2))
          shannon_entropy_value += entropy_i

        return (shannon_entropy_value * -1)/text_len
      except:
        return None

# URLsRatio
def url_ratio(df):
    try:
        urls = re.findall("http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+", df['full_text'])
        url_char = 0
        for url in urls:
          url_char += len(url)
        return url_char/len(df['full_text'])
    except:
        return None

# MentionsRatio
def mention_ratio(df):
    try:
        mentions = re.findall("@([a-zA-Z0-9_]{1,50})", df['full_text'])
        mention_char = 0
        for mention in mentions:
          mention_char += len(mention)
        return mention_char/len(df['full_text'])
    except:
        return None
# NameSim
def name_sim(df):
    try:
        simScore = SequenceMatcher(None, df['name'], df['screen_name']).ratio()
        return simScore*100
    except:
        return None

In [29]:
from pandas.core.frame import DataFrame
# Given a dictionary of dataframes with one dataframe for each user
# this function processes the data and extracted all the user-related features
# and saves it to a dataframe with one row for each user

def create_df(user_dfs, filename):
    columns_lst = ['UserID','AccountAge', 'FollowersCount', 'FriendsCount', 'StatusesCount', 'DigitsCountInName','TweetLen','UserNameLen', 'ScreenNameLen','TweetRandomness','DescRandomness','NameRandomness','SNameRandomness','LexRichWithUU','Friendship','Followership','Interestingness','Activeness','FavoritesCount','NamesRatio', 'UrlRatio', 'MentionRatio', 'NameSim']

    # Create user dataframe
    user_full_df = pd.DataFrame(columns = columns_lst)
    count = 0
    for name in user_dfs.keys():
        df = user_dfs[name]
        data = [user_id(df), acc_age(df), user_followers(df), user_friends(df), user_statuses(df), sname_digits(df), tweet_len(df), name_len(df), sname_len(df), tweet_randomness(df), desc_randomness(df), name_randomness(df), sname_randomness(df), lex_richness(df), friendship(df), followership(df), interest(df), activeness(df), user_fav(df), name_ratio(df), url_ratio(df), mention_ratio(df), name_sim(df)]
        user_full_df.loc[count] = data
        count += 1

    user_full_df = user_full_df.dropna()
    user_full_df = user_full_df.reset_index(drop=True)
    user_full_df.to_csv(filename+'.csv', encoding='utf-8', index=False)
    user_full_df.to_json(filename+'.json', orient='records', lines=True)
    return user_full_df

In [30]:
bot_full_df = create_df(toy_bot_dict, 'bot_full_df')

In [31]:
bot_full_df

,UserID,AccountAge,FollowersCount,FriendsCount,StatusesCount,DigitsCountInName,TweetLen,UserNameLen,ScreenNameLen,TweetRandomness,...,LexRichWithUU,Friendship,Followership,Interestingness,Activeness,FavoritesCount,NamesRatio,UrlRatio,MentionRatio,NameSim
0,1305152759625166848,662,70,13,9966,0,198,14,13,0.024336,...,72.727273,0.185714,5.384615,0.006221,15.054381,62,0.928571,0.116162,0.000000,81.481481
1,1369694586294075393,483,391,957,917,0,212,7,15,0.023765,...,66.666667,2.447570,0.408568,0.008724,1.898551,8,2.142857,0.216981,0.000000,27.272727
2,1531613498920550403,37,10,20,52,2,155,9,11,0.034003,...,86.956522,2.000000,0.500000,0.000000,1.405405,0,1.222222,0.296774,0.000000,90.000000
3,390588121,3919,77,225,1049,0,76,4,7,0.060785,...,100.000000,2.922078,0.342222,0.548141,0.267670,575,1.750000,0.302632,0.000000,54.545455
4,1456880622291456001,243,18,285,996,0,31,3,10,0.143674,...,100.000000,15.833333,0.063158,0.027108,4.098765,27,3.333333,0.741935,0.193548,0.000000

In [32]:
lu_full_df = create_df(toy_lu_dict, 'lu_full_df')

In [33]:
lu_full_df

,UserID,AccountAge,FollowersCount,FriendsCount,StatusesCount,DigitsCountInName,TweetLen,UserNameLen,ScreenNameLen,TweetRandomness,...,LexRichWithUU,Friendship,Followership,Interestingness,Activeness,FavoritesCount,NamesRatio,UrlRatio,MentionRatio,NameSim
0,1406696255917412353,381,7313.0,4426.0,28069.0,8,94,4,12,0.052540,...,81.818182,0.605224,1.652282,1.832876,73.671916,51447.0,3.0,0.244681,0.000000,50.000000
1,320080520,4036,885.0,1173.0,37827.0,0,100,10,10,0.051205,...,80.000000,1.325424,0.754476,0.854733,9.372398,32332.0,1.0,0.230000,0.380000,80.000000
2,1098117872549650432,1233,1334.0,1772.0,19234.0,0,60,10,11,0.077151,...,75.000000,1.328336,0.752822,1.155506,15.599351,22225.0,1.1,0.383333,0.166667,47.619048

# Coba-coba

In [ ]:
type(lu_dict)

dict

In [ ]:
bot_dict.keys()

dict_keys([1305152759625166848, 1369694586294075393, 1531613498920550403, 390588121, 1456880622291456001, 1530797589611786240, 1374561870867140613, 1459094353159155713, 1509399651316764676, 1445716512250023946, 1513065151179620357, 1493532478090657794, 3145446336, 1471467065546469380, 1460185297300307969, 1312857278869979136, 1228386300866125825, 1304289081556267009, 1447813359080935426, 221952715, 919369736021983232, 1253243708624920576, 1298931145170497537, 1480417897121927169, 286079602, 1429480934735192073, 282078384, 1498149345761595392, 1529857750267621376, 1283682850689056768, 803542205637922817, 2226639342, 1448128858679509003, 1233559971532423168, 1500900710577483776, 122296793, 1486225256159518721, 1449915653314342916, 1531523321564520448, 1400323115033403394, 4011194653, 1381937388734177283, 1441201090251288577, 246769169, 1263828349899726850, 2952189942, 1283770362375761921, 1151273959322636288, 1340706600802082817, 1254028454653091840, 1424683172189523973, 1491366495754272771, 3221068856, 1433595226191327243, 1258567597898924034, 1514158310995685382, 1454136132384411648, 704938127123677184, 3242150390, 1424819259067179008, 1252199240471887872, 155483760, 1467473101130657796, 1508994219654135808, 1536495295877754880, 1511039950711492608, 3744238512, 1528534803368538112, 1194466171187130368, 2892393554, 1427689022889992196, 709584167562911744, 1418773481764790275, 115936810, 1472147956757270528, 1227899867814449152, 1258357732735725568, 1147395228661243905, 1424847385725857809, 1482937049129054212, 1482086968251289601, 1308444925306916864, 1437431744035123202, 298715438, 1492355854112534529, 1485113081776975873, 103583153, 1471466832, 1275927437272969216, 1467372888260939777, 1402111092122284049, 1252991244, 1448918200226177030, 2347284884, 1073846310820765697, 1532586812174389248, 1221962355002638341, 233218727, 1210629458719207424, 254601504, 1444077437864669185, 1414109414378725380, 1477588368355573761, 1458008471249379332, 1494907689260175361, 1493206871439667203, 139323726, 115841532, 1443785915613155329, 367625184, 70932668, 1347037239671312386, 1358035632019279872, 1371612164788613123, 1521713087375904768, 1143043797237940224, 1451121716994854916, 1450033256875790342, 1457650129138118659, 1538734462254559233, 1220688468801507333, 1570770624, 1335803130370424833, 1510737497651032065, 1433095754055254016, 1490974919773257728, 1396326750158610432, 1469393227, 1293583045925060609, 1460119176211615746, 1486834962988867587, 1198127472010641409, 259447002, 259191361, 163586591, 1319352421861175300, 1300904646286827521, 892848659552808961, 1304747239814823937, 1455248192635691008, 1531192725139251200, 1341486030, 256571163, 1501440933728251904, 867637274, 1435762837721206789, 3042877141, 1426759979277557760, 403517749, 1172059682568990720, 1577089627, 1037600542090964992, 1490594775938273280, 1534776913142480896, 852721574390022144, 1427362154, 1219307943033630723, 1528519550509019137, 1531985213756252162, 1527633811793915904, 205132394, 2507715108, 1532335489352859648, 1508709337828818945, 1504575251514298368, 1073837383383080960, 1378181226993840131, 1398535592460255233, 1482358444376363009, 1319594866054033408, 1453649797273899008, 1411746201905426434, 1414014630507081731, 1410384150859632640, 1529719218588876801, 1445026162053316610, 1484779405730009092, 1313211300, 1265262339537858560, 822119885559861248, 1269952745227706370, 1293354070036504576, 1304825873690849280, 1200732470502510593, 82255012, 1900086902, 1628886492, 1478500017539141632, 1381644510174666755, 1358080544731328514, 560092234, 1015470151959900162, 1345491215534448641, 58674327, 322670779, 1216550422191587328, 153437047, 824805797297139712, 452911107, 813307777, 1045266090031439873, 2378193756, 3156022172, 820561652168830976, 1493556582604750848])

In [ ]:
len(lu_dict.keys())

286

In [ ]:
import spacy

In [ ]:
df = bot_dict[1531192725139251200]

In [ ]:
data = name_sim(df)
data

80.0

In [ ]:
import en_core_web_sm

In [ ]:
(SequenceMatcher(None, df['name'], df['screen_name']).ratio())*100

80.0

In [ ]:
mentions = re.findall("@([a-zA-Z0-9_]{1,50})", df['full_text'])

In [ ]:
mentions

['chogiwabois']

In [ ]:
mention_char = 0
for mention in mentions:

['https://t.co/Q1qXiXRcS0', 'https://t.co/BEQkFUkluD']

In [ ]:
url_char = 0
for url in urls:
  url_char += len(url)

In [ ]:
url_char

46

In [ ]:
data = lex_richness(df)

In [ ]:
data

72.72727272727273

In [ ]:
# d0 = datetime.strptime(df['created_at'],"%Y-%m-%d %H:%M:%S")
# d1 = datetime.strptime('2022-07-07 15:14:56',"%Y-%m-%d %H:%M:%S")
# (d1-d0).days

662

In [ ]:
# d1 = datetime.now(timezone.utc).strftime("%Y-%m-%d %H:%M:%S")

In [ ]:
# d1 = datetime.strptime(d1,'%Y-%m-%d %H:%M:%S')

In [ ]:
# d1

datetime.datetime(2022, 7, 7, 15, 14, 56)

In [ ]:
# d1 = datetime.strptime('2022-07-07 15:14:56',"%Y-%m-%d %H:%M:%S")

In [ ]:
# d0 = datetime.strptime(df['created_at'],'%Y-%m-%d %H:%M:%S')

In [ ]:
# (d1-d0).days

661

In [ ]:
# d0

datetime.datetime(2020, 9, 13, 14, 34, 36)